*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html{
    background: #ECF0F4;
}
body{
    background-color: #ECF0F4;
}
.top-nav-logo{
    margin: 0;
    padding: 10px;
    background-color: #081621c7;
    border-bottom: 1px dotted rgba(181, 175, 175, 0.767);
}
.top-nav-logo img{
    margin-left: 24px;
}
.top-nav{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font: 1em sans-serif;
    height: 84px;
    padding: 10px;
    background-color: rgba(252, 204, 15, 0.493);
}
.top-nav h6{
    color: #ffff;
    margin: 17px 0 0 10px;
    font-size: 22px;
    text-transform: uppercase;
}
.top-nav #logout-section{
    margin: 8px 10px 0 0;
    cursor: pointer;
}
.top-nav #logout-section img{
    height: 50px; 
    width: 50px; 
    border-radius: 50%; 
    box-shadow: 0 0 5px 2px rgb(237, 183, 183);
}
.top-nav #logout-section img:hover{
    box-shadow: none;
   
}
.top-nav #logout-section span{
    font-family: 'Times New Roman', Times, serif;
}
.accordion .accordion-button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(245, 233, 233);
    background-color: #081621c7;
}
.accordion .accordion-button:focus{
    box-shadow: none;
}
.accordion .accordion-button::after{
    content: "\2B9F" !important;
    background-image: none !important;
}
.accordion .accordion-body{
    background-color: #101c259c;
    padding: 10px 0;
    padding-bottom: 5px;
}
.accordion-item{
    border: none;
}
.accordion-item .xxx{
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}
.accordion-body li{
    list-style: none;
}
.accordion-body li i{
    color: rgb(58, 45, 45);
}
.accordion-body li a{
    font-family: serif;
    color: rgb(231, 222, 222);
    text-decoration: none;
    font-size: 14px;
}
#login-card{
    position: relative;
    height: auto;
    width: 240px;
    position: fixed;
    top: 13%;
    border-radius: 5px;
    right: 5px;
    display: none;
    background-color: rgb(225, 233, 233);
    box-shadow: 1px 6px 18px #81848d77;
    text-align: left;
}
#testId{
    position: absolute; 
    right: 5px; 
    top: 5px;
    color: rgba(240, 95, 95, 0.863);
    font-family: cursive;
}
#login-card img{
    margin: 20px 0 10px 95px;
    height: 50px; 
    width: 50px; 
    border-radius: 50%;
    box-shadow: 0 0 6px 1px rgba(235, 161, 238, 0.323);
}
#login-card .inner-text{
    text-align: center;
    margin: 10px 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#logout-section{
    display: flex;
    flex-direction: row;
}
#login-card .inner-text span {
    margin: 10px 0;
    padding: 5px;
    cursor: pointer;
}
#login-card .inner-text span:hover {
    box-shadow: 0 0 6px 1px rgba(235, 161, 238, 0.323);
}
#profile-pic{
    position: relative;
}
#active{
    position: absolute;
    right: 1px;
    top: 2px;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: rgb(11, 202, 11);
}
.front-page-top-layer{
    margin: 30px 20px;
    padding: 10px 30px;
    background-color: #00b893b9;
}
.front-page-top-layer h4{
    font-family: "Open Sans", sans-serif;
    border-bottom: 1px solid rgba(126, 126, 126, 0.664);
    padding: 10px 0;
    color: #fff;
}
.myCheck{
    margin: 5px 5px 0 0;
    height: 15px;
    width: 15px;
    border: 3px solid #fff;
}
.check{
    display: flex;
}
.check p{
    color: #fff;
}
.front-page-top-layer-2{
    margin: 30px 20px;
    padding: 10px 30px;
    background-color: #FFEAA7;
}
.front-page-top-layer-2 h4{
    font-family: "Open Sans", sans-serif;
    padding: 10px 0 0 0;
    font-weight: 500;
    color: rgb(63, 62, 62);
}
.summary-span{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(126, 126, 126, 0.664);
}
.summary-span p{
    font-size: 15px;
    margin-top: 15px;
}
.summary-span i{
    font-size: 20px;
    color: rgba(0, 0, 255, 0.714);
}
.summary-span i:hover{
    color: rgb(0, 0, 255);
}
.summary-icons{
    font-family: "Open Sans", sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    margin-top: 20px;
}
.summary-icon{
    display: flex;
    flex-direction: row;
    padding-left: 15px;
    border-left: 1px solid rgb(170, 169, 169);  
}
.summary-icon .inner-card-icon{
    height: 70px; 
    width: 65px;
    font-size: 180%;
    color: rgba(255, 255, 255, 0.801);
    margin-left: 50px;
}
.summary-icon i{
    margin: 20px 0 0 18px;
}
.summary-icon div:first-child{
    margin-right: 15px;
}
.summary-icon a{
    text-decoration: none;
}
.front-page-top-layer-3{
    margin: 30px 20px;
    padding: 10px 30px;
    background-color: #f5f4f0;
}
.front-page-top-layer-3 .col-6{
    display: flex;
    flex-direction: row;
}
.front-page-top-layer-3 .col-6 p{
    margin: 8px 0;
    font-size: 18px;
    color: rgb(107, 105, 105);
}
.front-page-top-layer-3 .layer-3-icon{
    margin: 10px;
    background-color: rgb(214, 219, 219);
    border-radius: 3px;
    padding: 3px 10px;
    font-size: 200%;
}
.front-page-top-layer-3 h4{
    font-family: "Open Sans", sans-serif;
    padding: 10px 0;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;
    color: rgb(138, 94, 94);
    border-bottom: 1px solid rgb(167, 164, 164);
}
.form-title-layer{
    margin: 20px;
    padding: 5px 0 0 14px;
    background: rgb(218, 218, 218);
    color: #fff;
    border: 1px solid rgb(204, 196, 196);
}
.form-title-layer h5{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(109, 106, 106);
}
form select, input:focus{
    box-shadow: none !important;
}
.add-admin-form form{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px;
    padding: 10px;
    border: 1px solid rgb(204, 196, 196);
}
.add-admin-form form .row{
    margin: 15px 0;
}